.Toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--text-default);
  border-radius: 0.5rem;
  color: var(--text-default);
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  text-transform: uppercase;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: var(--text-default);
    opacity: 1;
  }
  50% {
    color: rgb(25, 13, 255);
    opacity: 0.5;
  }
  100% {
    color: var(--text-default);
    opacity: 1;
  }
}
