* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-default: black;
  --text-disabled: #a0a0a0;
  --surface-primary: white;
  --surface-subtle: #f9ebf8;
  --surface-disabled: #e0e0e0;
  --surface-purple: #c2a0ff;
  --surface-pink: #ffaada;
  --surface-green: #3af0ac;
  --avatar-background: #a0d1ff;
  --sidebar-width: 18.75rem; /* 300px */
  --header-height: 9.375rem; /* 150px */
  --background-border: #ffaada;

  /* Prevent browser from synthesizing bold/italic if font files don't exist */
  font-synthesis: none;
  /* Webkit browsers - smooth font rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  /* Firefox on macOS - smooth font rendering */
  -moz-osx-font-smoothing: grayscale;

  /* Prevent font color changes on highlight */
  -webkit-tap-highlight-color: transparent;
}

[data-theme='dark'] {
  --text-default: #2be02b;
  --text-disabled: #323232;

  --surface-primary: #1e1e1e;
  --surface-subtle: #121212;
  --surface-disabled: #1c1c1c;

  --surface-purple: #1e1e1e;
  --surface-pink: #1e1e1e;
  --surface-green: #1e1e1e;
  --avatar-background: #2be02b;
  --background-border: #0d430d;
}

body {
  display: flex;
  background-color: var(--surface-subtle);
  background-image:
    linear-gradient(var(--background-border) 0.5px, transparent 0.5px),
    linear-gradient(90deg, var(--background-border) 0.5px, transparent 0.5px);
  background-size: 3rem 3rem;

  color: var(--text-default);
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-width: 100vw;
  min-height: 100vh;
}

/* ~~~~~~~~~~~~~~~~~~~ Aside Styles ~~~~~~~~~~~~~~~~~~~ */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  padding: 1rem 0.5rem 1rem 1rem;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--surface-purple);
  border-radius: 0.5rem;
  height: var(--header-height);
}

.logo {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  line-height: 1;
  text-align: center;
}

.new-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--surface-pink);
  border-radius: 0.5rem;
  padding: 1rem;
}

.new-features-title {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: center;
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--text-default);
  border-radius: 0.5rem;
  color: var(--text-default);
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  text-transform: uppercase;
  animation: pulse 2s infinite;
}

[data-theme='dark'] .theme-toggle {
  animation: none;
}

.theme-toggle::before,
.theme-toggle::after {
  content: '';
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  background-color: var(--text-default);
  mask-image: url('assets/sparklesLeft.svg');
  -webkit-mask-image: url('assets/sparklesLeft.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
}

@keyframes pulse {
  0% {
    color: var(--text-default);
    opacity: 1;
  }
  50% {
    color: rgb(25, 13, 255);
    opacity: 0.5;
  }
  100% {
    color: var(--text-default);
    opacity: 1;
  }
}

/* ~~~~~~~~~~~~~~~~~~~ Advertisements Styles ~~~~~~~~~~~~~~~~~~~ */

.advertisements {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--surface-primary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.advertisement {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ad-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-default);
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.ad-title.top-svg {
  flex-direction: column;
  gap: 0.5rem;
}

.ad-title.side-svg {
  justify-content: space-between;
}

.ad-title.top-svg::before,
.ad-title.side-svg::after,
.ad-title.side-svg::before {
  content: '';
  display: inline-block;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  background-color: var(--text-default);
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.ad-title.top-svg::before {
  width: 2.25rem; /* 36px */
  height: 2.25rem; /* 36px */
}

.ad-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  text-align: center;
}

.ad-cta {
  background-color: transparent;
  border: 2px solid var(--text-default);
  border-radius: 0.5rem;
  box-shadow: -0.25rem 0.25rem var(--text-default);
  color: var(--text-default);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  margin: 0 0 0.25rem 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.ad-cta.pressed {
  box-shadow: none;
  transform: translate(-0.25rem, 0.25rem);
}

.ads-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ads-nav {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ads-nav.prev {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  background-color: var(--text-default);
  mask-size: contain;
  mask-image: url('assets/arrowAltCircleLeft.svg');
  mask-repeat: no-repeat;
}

.ads-nav.next {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  background-color: var(--text-default);
  mask-size: contain;
  mask-image: url('assets/arrowAltCircleRight.svg');
  mask-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~~ External Links Styles ~~~~~~~~~~~~~~~~~~~ */

.external-links {
  background-color: var(--surface-green);
  border-radius: 0.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  list-style: none;
  width: 100%;
}

.link a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-default);
  padding: 0.5rem 1rem;
  width: 100%;
  text-decoration: none;
}

.external-link-icon {
  margin-left: auto;
}

#resume-link::before,
#linkedin-link::before,
#github-link::before {
  content: '';
  display: inline-block;
  background-color: var(--text-default);
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  mask-size: contain;
  mask-repeat: no-repeat;
}

#github-link::before {
  mask-image: url('assets/github.svg');
  -webkit-mask-image: url('assets/github.svg');
}

#linkedin-link::before {
  mask-image: url('assets/linkedin.svg');
  -webkit-mask-image: url('assets/linkedin.svg');
}

#resume-link::before {
  mask-image: url('assets/downloadAlt.svg');
  -webkit-mask-image: url('assets/downloadAlt.svg');
}

#resume-link::after,
#linkedin-link::after,
#github-link::after {
  content: '';
  display: inline-block;
  background-color: var(--text-default);
  margin-left: auto;
  width: 1.125rem; /* 20px */
  height: 1.125rem; /* 20px */
  mask-image: url('assets/externalLink.svg');
  -webkit-mask-image: url('assets/externalLink.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
}

/* ~~~~~~~~~~~~~~~~~~~ Main Styles ~~~~~~~~~~~~~~~~~~~ */

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0.5rem;
  width: 100%;
}

.interactive-header {
  position: relative;
  background-color: var(--surface-primary);
  border-radius: 0.5rem;
  height: var(--header-height);
  overflow: hidden;
  cursor: none;
}

.interactive-trail {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 0%;
  pointer-events: none;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  animation: fadeOut 0.8s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

/* ~~~~~~~~~~~~~~~~~~~ Panel Styles ~~~~~~~~~~~~~~~~~~~ */
.tabs-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0 1rem;
}

.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--surface-disabled);
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--text-disabled);
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.tab-icon {
  display: inline-block;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

[aria-selected='true'] {
  background-color: var(--surface-primary);
  color: var(--text-default);
}

.tabs-panels {
  /* flex-grow: 1; */
  display: flex;
  background-color: var(--surface-primary);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~ Home Tab Styles ~~~~~~~~~~~~~~~~~~~ */
.home-content {
  display: flex;
}

.avatar-container {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  background-color: var(--avatar-background);
  border: 4px solid var(--avatar-background);
  border-radius: 0.5rem;
  width: 18.75rem; /* 300px */
  height: 22.5rem; /* 360px */
}

.avatar {
  display: block;
  border-radius: 0.5rem;
  image-rendering: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

[data-theme='dark'] .avatar {
  filter: hue-rotate(45deg);
}

/* ~~~~~~~~~~~~~~~~~~~ About Tab Styles ~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ Projects Tab Styles ~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ Contact Tab Styles ~~~~~~~~~~~~~~~~~~~ */
.contact-form-label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  margin-bottom: 0.25rem;
}

/* ~~~~~~~~~~~~~~~~~~~ Worm ~~~~~~~~~~~~~~~~~~~ */
/* .worm-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
}
[data-theme='dark'] .worm {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(-8px -10px 46px #0000005f);
  backdrop-filter: blur(2px) url(#displacementFilter);
  animation: floatAround 6s ease-in-out infinite;
}

@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(40vw, -20vh);
  }
  50% {
    transform: translate(60vw, 30vh);
  }
  75% {
    transform: translate(20vw, 50vh);
  }
  100% {
    transform: translate(0, 0);
  }
} */
